* {
	box-sizing: border-box;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	line-height: 1.3;
	letter-spacing: 0.0625em;
}

body {
	margin: 0;
	background: #141414;
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
	background: none;
	border: none;
	outline: none;
}

.loader {
	border: 16px solid #00000000;
	border-top: 16px solid #ad0b0b;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* ==========NAVIGATION========== */

.nav-container {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

.netflix-logo {
	width: 100px;
}

.fa-bars {
	color: white;
}

/* ==========MAINSHOW========== */

.backdrop-container {
	margin-top: 4em;
}

.main-show-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;
	top: 0;
	color: white;
}

.main-show-overview {
	position: relative;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

.main-show-overview span {
	display: block;
}

.main-show-title {
	font-size: 3em;
	margin: .5em 0;
}

.main-show-description {
	font-size: 1.3em;
	margin: 1em 0;
}

.main-show-poster {
	width: 100%;
	opacity: .3;
}

.main-show {
	position: absolute;
	top: 5%;
	margin: 0 5em;
	max-height: 100%;
	overflow: auto;
}

/* ==========GENRESLIDER========== */

.trending-title {
	color: #e5e5e5;
	margin-left: 1em;
	font-size: 1.5em;
}

.main_poster {
	width: 100%;
}

.featured_poster {
	width: 100%;
	height: auto;
	padding: 0 0.3em;
	transition: box-shadow .5s, transform .5s, margin .5s;
}

.featured_poster:hover {
	transform: scale(1.2);
}

.slick-next:before,
.slick-prev:before {
	font-size: 30px;
}

.slick-next,
.slick-prev {
	z-index: 1;
	width: 100px;
	height: 100%;
}

/* ==========MODAL========== */

.modal-content {
	background-color: black;
	display: flex;
	flex-direction: column;
}

.modal-body {
	display: flex;
}

.modal-dialog {
	max-width: 100%;
}

.modal-header .close {
	display: none;
}

.fa-times {
	color: rgb(148, 148, 148);
	margin: 0 .5em;
	font-size: 1.3em;
}

.fa-times:hover {
	color: #fff;
	transform: scale(1.5);
}

.description-container {
	width: 100%;
	padding: 1em;
}

.modal-header {
	border: none;
}

.tv_name {
	font-size: 1.3em;
	text-align: center;
}

.genre-slider-container {
	margin: 3em 0;
}

.tv_name {
	color: #fff;
	margin: 0;
}

.description-container span {
	font-weight: 700;
	color: #fff;
}

.description {
	font-size: 1.1em;
	color: #828282;
	margin: 1em 0;
}

.details {
	display: flex;
	flex-direction: column;
}

.desktop-poster {
	display: none;
}

.desktop-exit-modal {
	display: none;
}

@media screen and (min-width: 600px) {
	.modal-wrapper {
		display: flex;
		align-items: center;
	}

	.tv_name {
		font-size: 1.5em;
	}

	.desktop-exit-modal {
	}

	.modal-body {
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.desktop-poster {
		display: block;
	}

	.mobile-poster {
		display: none;
	}

	.description-container {
		height: 100%;
		width: 40%;
		padding: 1em;
	}

	.description {
		font-size: 1.3em;
	}

	.modal-content {
		background-color: black;
		display: flex;
		flex-direction: row;
	}
}
